*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}
a{
    
    position: relative;
    /* background-color: yellow; */
    padding: 20px 50px;
    width: 200px;
    border-radius: 40px;
    text-decoration: none;
    overflow: hidden;
}

a span{
    position: relative;
    top: 0;
    left: -10%;
    z-index: 999;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    letter-spacing: 10px;
    transition: 0.55s ease-out;
}
a .liquid{
    z-index: 10;
    position: absolute;
    background-color: yellowgreen;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.549);
    transition: 0.55s ease-out;
}

a .liquid::after,
a .liquid::before{
    content: '';
    width: 250%;
    height: 250%;
    position: absolute;
    top: 0;
    left: 50%;
    /* background-color: blue; */
    transform: translate(-50%,75%);
}

a .liquid::before{
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 4s linear infinite;

}
a .liquid::after{
    border-radius: 40%;
    background: rgba(20, 20, 20, 0.583);
    animation: animate 10s linear infinite;

} 

@keyframes animate{
    0%{
        transform: translate(-50%,-75%) rotate(0deg);
        transition: 3s;
    }
    100%{
        transform: translate(-50%,-75%) rotate(360deg);
        transition: 3s;
    }
}
a:hover .liquid{
    top: -130px;
    background-color: coral;
}
a:hover span{
    color: black;
}


